body {
    margin: 0;
    padding: 0;
}

html,
body {
    background: rgb(106, 130, 251);
    background: linear-gradient(0deg, rgba(106, 130, 251, 1) 0%, rgba(252, 92, 125, 1) 100%);
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

header {
    position: absolute;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
}